@import '~@angular/material/theming';
@import './../../../variables';

.dialog-container {
  display: flex;
  align-items: flex-start;

  .dialog-image {
    position: relative;
    background: mat-color($mat-grey, 100);
    display: flex;
    justify-content: center;
    min-width: 160px;
    min-height: 160px;
    height: 160px;

    img {
      width: 80px;
      opacity: .1;
      transform: rotate(-10deg);
    }
  }

  .dialog-content {
    width: 100%;
    margin-left: 15px;

    .mat-dialog-title {
      h1 {
        font-size: 1em;
        font-weight: 500;
        line-height: 1em;
        margin: 0;
      }

      span {
        display: block;
        opacity: .5;
        font-size: .8em;
        font-weight: 400;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .product-created,
    .product-updated {
      font-size: .8em;
      color: mat-color($mat-grey, 400);
      margin-bottom: 8px;

      span {
        font-weight: 500
      }
    }

    .product-price {
      margin-top: 15px;
      font-size: 1.3em;
      font-weight: 500;
      background: mat-color($condorlabs-app-primary, darker);
      color: white;
      border-radius: 5px;
      padding: 5px 15px;
      display: inline-block;
      border-bottom: 2px solid mat-color($condorlabs-app-primary, 800);
    }
  }
}

.mat-dialog-content {
  position: relative;

  .product-updated {
    position: absolute;
    right: 28px;
    bottom: 0;
    margin-bottom: 0 !important;
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
  border-top: 1px solid mat-color($mat-grey, 100);
  margin-top: 20px;
}
