<div class="dialog-container">
  <div class="dialog-image">
    <img src="assets/logo-dark.svg" alt="">
  </div>
  <div class="dialog-content">
    <div mat-dialog-title>
      <h1>{{product.name}}</h1>
      <span>{{product.category.name}}</span>
    </div>
    <div mat-dialog-content>
      <div class="product-created">
        <span>Created on</span>
        {{product.created | date:'medium'}}
      </div>
      <div class="product-updated" *ngIf="product.updated">
        <span>Updated on</span>
        {{product.updated | date:'medium'}}
      </div>
      <div class="product-description" *ngIf="product.description">
        {{product.description}}
      </div>
      <div class="product-price">{{product.price | currency:'USD'}}</div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onClickAddToShoppingCart()">Add to shopping cart</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
