<div class="row" style="margin-bottom: 10px;">
  <div class="col-xs-6" style="font-size: 1.5em">
    Product Management
  </div>
  <div class="col-xs-6" style="text-align: right">
    <a mat-button routerLink="new">CREATE A NEW PRODUCT</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 mat-elevation-z2" style="padding:0">
    <table mat-table [dataSource]="dataSource.items">
      <ng-container matColumnDef="id">
        <th style="width: 100px" mat-header-cell *matHeaderCellDef>ID</th>
        <td style="width: 100px" mat-cell *matCellDef="let product"> {{product.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let product">
          <a>{{product.name}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th style="width: 100px" mat-header-cell *matHeaderCellDef>Price</th>
        <td style="width: 100px" mat-cell *matCellDef="let product"> {{product.price | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th style="width: 200px" mat-header-cell *matHeaderCellDef>Category</th>
        <td style="width: 200px" mat-cell *matCellDef="let product"> {{product.category.name}} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th style="width: 200px" mat-header-cell *matHeaderCellDef>Created</th>
        <td style="width: 200px" mat-cell *matCellDef="let product"> {{product.created | date:'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="updated">
        <th style="width: 200px" mat-header-cell *matHeaderCellDef>Updated</th>
        <td style="width: 200px" mat-cell *matCellDef="let product">
          {{product.updated ? (product.updated | date:'medium') : '--'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th style="width: 40px" mat-header-cell *matHeaderCellDef>Edit</th>
        <td style="width: 40px" mat-cell *matCellDef="let product">
          <a mat-icon-button>
            <mat-icon>create</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator (page)="onPage($event)" [showFirstLastButtons]="true" [pageSizeOptions]="[10, 20, 50]"
      [pageSize]="queryParams ? queryParams.size : null"
      [pageIndex]="queryParams ? (queryParams.start / queryParams.size) : null"
      [length]="dataSource ? dataSource.total : 0">
    </mat-paginator>
  </div>
</div>
