<header>
  <mat-toolbar color="primary">
    <div class="toolbar-container">
      <a routerLink="/">
        <img src="assets/condor-store.svg" alt="">
      </a>
      <div class="toolbar-overlay"></div>
    </div>
  </mat-toolbar>
</header>
<nav>
  <div class="nav-container">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="onClickMenuItem()">All Products</button>
      <button *ngFor="let category of categories" mat-menu-item (click)="onClickMenuItem(category)">
        {{category.name}}
      </button>
    </mat-menu>

    <div class="select-category-filter" matRipple [matMenuTriggerFor]="appMenu">
      <span>{{categoryNameSelected}}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>

    <input type="text" [(ngModel)]="search" placeholder="Search a products" (keyup.enter)="onSearch()">

    <div class="indicators">
      Press <span>Enter</span> to search
    </div>

    <a mat-icon-button color="accent" routerLink="/shopping-cart">
      <mat-icon matBadge="0" matBadgeColor="warn">shopping_cart</mat-icon>
    </a>

    <a mat-icon-button color="accent" routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </a>
  </div>
</nav>
<router-outlet></router-outlet>
