@import '~@angular/material/theming';
@import './../../../variables';

.mat-toolbar {
  position: relative;
  height: auto;
  overflow: hidden;

  .toolbar-container {
    display: flex;
    position: relative;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;

    a {
      display: flex;
      margin: 50px 0 10px 0;
      justify-content: center;
    }

    .toolbar-overlay {
      position: absolute;
      top: -100px;
      left: 100px;
      width: 450px;
      height: 450px;
      background: no-repeat url('./../../../assets/logo-dark.svg');
      background-size: 20em;
      transform: rotate(-20deg);
      opacity: .02;
    }
  }
}

nav {
  background: white;
  position: relative;
  border-bottom: 1px solid mat-color($condorlabs-app-accent, 50);

  .nav-container {
    position: relative;
    display: flex;

    margin: 0 auto;
    padding: 10px;
    max-width: 1280px;
  }

  input {
    background: mat-color($condorlabs-app-accent, 100, .2);
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding: 0 196px 0 16px;
    margin: -10px -180px -10px 0;
    text-overflow: ellipsis;
    flex: 1 1 auto;

    &::placeholder {
      color: mat-color($mat-blue-gray, 300);
    }
  }
}

.select-category-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px 0 -10px -10px;
  padding: 0 15px;
  cursor: pointer;
}

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  color: mat-color($mat-gray, 600);

  span {
    background: mat-color($condorlabs-app-accent, 200);
    color: white;
    padding: 4px 7px;
    margin: 0 8px;
    border-radius: 5px;
    border-bottom: 2px solid mat-color($condorlabs-app-accent, 400);
    font-size: .7em;
  }
}
