<mat-card (click)="onClick(product)">
  <div class="img-section">
    <img src="assets/logo-dark.svg" alt="">
    <div class="img-section-overlay"></div>
  </div>
  <mat-card-content>
    <div class="product-name">{{product.name}}</div>
    <div class="product-category">{{product.category.name}}</div>
    <div class="product-price">{{product.price | currency:'USD'}}</div>
  </mat-card-content>
</mat-card>
