@import '~@angular/material/theming';
@import './../../../variables';

.mat-card {
  width: 160px;
  height: 235px;
  margin: 5px;
  padding: 0;
  cursor: pointer;

  &:hover {
    @include mat-elevation(3);
  }

  .img-section {
    position: relative;
    background: mat-color($mat-grey, 100);
    height: 160px;
    display: flex;
    justify-content: center;

    img {
      width: 80px;
      opacity: .1;
      transform: rotate(-10deg);
    }

    &:hover .img-section-overlay {
      opacity: .18;
    }

    .img-section-overlay {
      background: black;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      transition: opacity ease-out 0.85s;
    }
  }

  .mat-card-content {
    padding: 8px;

    div {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;

      &.product-name:hover {
        text-decoration: underline;
      }

      &.product-category {
        color: mat-color($mat-grey, 600);
      }
    }

    .product-price {
      margin-top: 5px;
      color: mat-color($condorlabs-app-primary, darker);
      font-size: 1.3em;
      font-weight: 500;
    }
  }
}
