<mat-card>
  <div class="product-image">
    <img src="assets/logo-dark.svg">
  </div>
  <div class="product-detail">
    <h3>{{product.name}}</h3>
    <span>{{product.category.name}}</span>
    <div class="product-price">{{product.price | currency:'USD'}}</div>
    <button mat-button color="warn" (click)="onClickRemoveItem(product)">Remove from the shopping cart</button>
  </div>
</mat-card>
