@import '~@angular/material/theming';
@import './../../../variables';

.mat-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

$product-image-size: 90px;

.product-image {
  position: relative;
  background: mat-color($mat-grey, 100);
  display: flex;
  justify-content: center;
  min-width: $product-image-size;
  min-height: $product-image-size;
  width: $product-image-size;
  height: $product-image-size;

  img {
    width: 45px;
    opacity: .1;
    transform: rotate(-10deg);
  }
}

.product-detail {
  margin-left: 15px;

  h3 {
    font-weight: 500;
    margin: 0;
  }

  span {
    display: block;
    opacity: .5;
    cursor: pointer;
    margin-bottom: 16px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.product-price {
  display: inline;
  padding: 5px 15px;
  font-size: 1.2em;
  background: mat-color($condorlabs-app-primary, darker);
  color: white;
  border-bottom: 2px solid mat-color($condorlabs-app-primary, 700);
  border-radius: 5px;
  margin-right: 8px;
}
