@import '~@angular/material/theming';
@import './../../../variables';

.default-container {
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 500;
}

button {
  align-self: flex-start;
  text-transform: uppercase;
}

.empty {
  font-size: 1.2em;
  color: mat-color($mat-gray, 300);
  margin-bottom: 16px;
}
