<div class="default-container">
  <h2>Shopping Cart</h2>
  <div *ngIf="products && products.length; else shoppingCartEmpty">
    <cdr-product-card *ngFor="let product of products" (updateList)="sycnDataSource()" [product]="product">
    </cdr-product-card>
  </div>
  <ng-template #shoppingCartEmpty>
    <div class="empty">There aren't products in the shopping cart.</div>
  </ng-template>
  <button mat-raised-button color="primary">Purchase</button>
</div>
