@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$condorlabs-app-primary: mat-palette($mat-amber, 300, 100, 600);
$condorlabs-app-accent: mat-palette($mat-blue-gray, 800, 700, 900);

// The warn palette is optional (defaults to red).
$condorlabs-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$condorlabs-app-theme: mat-light-theme($condorlabs-app-primary, $condorlabs-app-accent, $condorlabs-app-warn);
