/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import 'variables';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($condorlabs-app-theme);

html, body {
  height: 100%;
}

body {
  background: mat-color($mat-blue-gray, 50, .2);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.default-container {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 16px;
}

.mat-button {
  text-transform: uppercase;
}
