@import '~@angular/material/theming';

.default-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cdr-home {
  position: relative;
  width: 100%;
  padding-bottom: 16px;

  display: flex;
  flex-wrap: wrap;

  border-bottom: 1px solid mat-color($mat-grey, 300);
}

.mat-paginator {
  margin-bottom: 50px;
}
