<div class="default-container">
  <div class="cdr-home" *ngIf="dataSource && dataSource.items && dataSource.items.length">
    <cdr-product-card *ngFor="let product of dataSource.items" [product]="product"></cdr-product-card>
  </div>
  <mat-paginator (page)="onPage($event)" [showFirstLastButtons]="true"
    [pageSize]="queryParams ? queryParams.size : null"
    [pageIndex]="queryParams ? (queryParams.start / queryParams.size) : null"
    [length]="dataSource ? dataSource.total : 0"></mat-paginator>
</div>
